<html>
  <div class="main-banner"></div>
  <div id="mission-bar" class="horizontal-bar">
    <div id="mission">MISSION:</div>
    <div id="mission-bar-right-side-spacing"></div>
    <div class="text-box">
      This is where the mission statement goes once Audrey tells me
      what that is. When it's time to change, this is in C: \Users
      \jakeo \Ruby \TackleFatherhood \app \views \main \main.html.erb
    </div>
  </div>
  <div class="text-box">
    <div class="main-page-column">
      <div id="play-svg"><%= show_svg 'play.svg' %></div>
      <a class="section-title" href="/playbook">Playbook</a>
      <div class="section-description">
        Learn what deliverable tasks and practical things you can
        do to become a good father
      </div>
    </div>
    <div class="main-page-column" >
      <div id="huddle-svg"><%= show_svg 'huddle.svg' %></div>
      <div class="section-title">Huddle</div>
      <div class="section-description">
        Talk with other men who are also working through different
        aspects of fatherhood
      </div>
    </div>
    <div class="main-page-column">
      <div id="catch-svg"><%= show_svg 'catch.svg' %></div>
      <a class="section-title" href="/position">Position</a>
      <div class="section-description">
        Fill the role that you are called to fill in your family team
        and keep track of your statistics as you grow
      </div>
    </div>
  </div>
</html>