<html>
  <div class="main-banner"></div>
  <div id="mission-bar" class="horizontal-bar">
    <div id="mission">MISSION:</div>
    <div id="mission-bar-right-side-spacing"></div>
    <div class="text-box">
      This is where the mission statement goes once Audrey tells me what that is.
      When it's time to change, this is in C: \Users \jakeo \Ruby \TackleFatherhood
      \app \views \main \main.html.erb
    </div>
  </div>
  <div class="text-box">
    <div class="main-page-column">
      <div id="play-svg"><%= show_svg 'play.svg' %></div>
      Oh hey there!
    </div>
    <div class="main-page-column" >
      <div id="huddle-svg"><%= show_svg 'huddle.svg' %></div>
      Oh hey there!
    </div>
    <div class="main-page-column">
      <div id="catch-svg"><%= show_svg 'catch.svg' %></div>
      Oh hey there!
    </div>
  </div>

</html>