<html>
  <div class="main-banner"></div>
  <div id="mission-bar" class="horizontal-bar">
    <div id="mission">MISSION:</div>
    <div class="text-box">
      This is where the mission statement goes once Audrey tells me what that is.
      When it's time to change, this is in C:\Users\jakeo\Ruby\TackleFatherhood\app\views\main\main.html.erb
    </div>
  </div>
</html>