<html>
  <div class="main-banner"></div>
  <div class="secondary-header">
    <div class="section-description text-box">
      Understand the successful strategies and day-to-day activities that
      you need to fulfill as a father.</br>
      You can track the tasks listed here over at Position.
    </div>
  </div>

  <div class="grid-container play-grid">
    <div class="grid-item">
      <div class="grid-item-title">Hail Mary</div>
      <div class="grid-item-content text-box grid-item-play">
        Long Term Planning Plays
        <ul>
          <li>School Districts</li>
          <li>Financial Planning</li>
          <li>Big Questions</li>
        </ul>
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-item-title">Running Plays</div>
      <div class="grid-item-content text-box grid-item-play">
        "Leg Work"
        <ul>
          <li>Swaddling</li>
          <li>Changing Diapers</li>
          <li>Quick Meals</li>
          <li>Best Baby Products</li>
          <li>Couponing</li>
        </ul>
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-item-title">Timeout</div>
      <div class="grid-item-content text-box grid-item-play">
        Plays To Help You Rest Up
        <ul>
          <li>Choosing a Babysitter</li>
          <li>Caretaking Places</li>
          <li>Raising Children Around Relatives</li>
        </ul>
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-item-title">Throwing Plays</div>
      <div class="grid-item-content text-box grid-item-play">
        Getting Out of the Pocket and Into the Community
        <ul>
          <li>Playgrounds Near You</li>
          <li>Children Activities Near You</li>
          <li>Restaurants with Children Discounts</li>
        </ul>
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-item-title">Fouls</div>
      <div class="grid-item-content text-box grid-item-play">
        How To Best Avoid What Not To Do
        <ul>
          <li>How To Be There For the Pregnant Mom</li>
          <li>How To Properly Communicate with Health Professionals</li>
          <li>The General Dont's of Raising Children</li>
        </ul>
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-item-title">Tough Calls</div>
      <div class="grid-item-content text-box grid-item-play">
        Addressing Difficult Topics
        <ul>
          <li>Things To Talk About Before the Baby Is Born</li>
          <li>Balancing Work and Raising a Child</li>
          <li>Talking To Your Kids About Politics, Religion, and Other Adult Topics</li>
        </ul>
      </div>
    </div>
  </div>
</html>