<html>
  <div class="main-banner"></div>
  <div class="secondary-header">
    <div class="section-description text-box">
      Understand what roles you need to play as a father and balance
      those roles in your statistics.</br>
      Find the executables under each position in the playbook.
    </div>
  </div>

  <div class="playbook-spacing-column"></div>
  <div class="playbook-content-column">
    <div class="tertiary-header">Positions</div>
    <button class="accordion green">Running Back</button>
    <div class="masked-panel">
      The Running Back does a lot of the short quick “leg work.”
      As a father you have to pick up a lot of small pieces that
      leads to ultimately a huge gain in yards.
    </div>

    <button class="accordion green">Quarter Back</button>
    <div class="masked-panel">
      Something about quarterbacks
    </div>

    <button class="accordion green">Safety</button>
    <div class="masked-panel">
      Something about safeties
    </div>

    <button class="accordion green">Offensive Linebacker</button>
    <div class="masked-panel">
      Something about OLs
    </div>
  </div>
  <div class="playbook-spacing-column"></div>
  <div class="playbook-spacing-column"></div>
  <div class="playbook-spacing-column"></div>
  <div class="playbook-content-column">

  </div>
  <div class="playbook-spacing-column"></div>
</html>