<html>
  <div class="main-banner"></div>
  <div class="secondary-header">
    <div class="section-description text-box">
      A place to form community between other fathers and the health community to know how best to raise your child and stay active in their lives.
    </div>
  </div>

  <div class="search-container">
    <input class="search-box" placeholder="Search for topics">
  </div>

  <div class="grid-container">
    <div class="grid-item">
      <div class="grid-item-title">Big Questions</div>
      <div class="grid-item-content">
        Hi all, I am a new father and I was wondering if any of you had insight on balancing time, namely between work and raising a child?
            </br>-Hi, I have had the same experience and I found it to be helpful to talk to my employer and be on the same page.
            </br>-Here is a link I found to be helpful on <a href ="https://www.parents.com/parenting/moms/healthy-mom/time-management-tips/">time management with children</a>.
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-item-title">How to Swaddle a Baby</div>
      <div class="grid-item-content">
        <a href = "https://www.mamanatural.com/how-to-swaddle-a-baby/">Link on Swaddling a Baby</a>
      </br>
        <a href = "https://www.youtube.com/watch?v=I6BdAtlV79g">Video on Swaddling a Baby</a>
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-item-title">Connecting to Community Healthcare Professionals</div>
      <div class="grid-item-content">
        <a href="https://www.webmd.com/parenting/features/raising-healthy-children">Raising Healthy Children</a>
      </br>
        <a href="https://www.webmd.com/parenting/features/raising-healthy-children">Steps Towards Instilling Good Habits in Your Kids</a>
      </br>
        Hi fathers, our company is hosting an event on supporting mothers emotionally on Wednesday December 3rd.  Go to <a href="https://www.webmd.com/parenting/features/raising-healthy-children">this link</a> to register.
      </div>
    </div>
    <div class="grid-item">
      <div class="grid-item-title">Financial Planning</div>
      <div class="grid-item-content">
        Hi, I am struggling to know how much to plan financially.  Could any of you give me some advice?
      </div>
    </div>
  </div>

</html>
